<div class="page-sidebar">
	<ul class="page-sidebar-menu">
		<li class="page-logo"><img src="assets/global/img/logo.png" alt="Cold Turkey Blocker" class="logo-default" draggable="false"/></li>
		<li id="page-overview" class="start active">
			<a href="#" draggable="false"><i class="fa fa-dashboard"></i><span class="title">Dashboard</span></a>
		</li>
		<li id="page-blocks">
			<a href="#" draggable="false"><i class="fa fa-shield"></i><span class="title">Blocks</span></a>
		</li>
		<li id="page-stats">
			<a href="#" draggable="false"><i class="fa fa-pie-chart"></i><span class="title">Statistics</span></a>
		</li>
		<li id="page-settings" class="last">
			<a href="#" draggable="false"><i class="fa fa-cogs"></i><span class="title">Settings</span></a>
		</li>
	</ul>
	<div class="sidebar-buttons">
		<button id="sidebar-button-upgrade" type="button" class="btn-green-sidebar" onclick="showUpgradeModal();">Activate pro</button>
		<button id="sidebar-button-update" type="button" class="btn-blue-sidebar" onclick="window.external.UpdateButton();">Update app</button>
		<button id="sidebar-button-lock-block" type="button" class="btn-blue-sidebar" onclick="showNoLockSetReminder();">No lock set</button>
		<button id="sidebar-button-empty-schedule" type="button" class="btn-blue-sidebar" onclick="showEmptyCalendarReminder();">No schedule set</button>
		<button id="sidebar-button-extensions" type="button" class="btn-red-sidebar" onclick="settings.additional.forceExtensionInstall = 'true';showExtensionInstall();">Fix extensions</button>
		<button id="sidebar-button-extensions-loading" type="button" class="btn-red-sidebar" disabled="disabled">Checking extensions...</button>
	</div>
</div>
