			<div id="dialog-edit-frozen-starting-blocked-warning">
				<hr>
				<div class="portlet-body">
					<p>You're about to start a <span class="bold">device block</span><span class="dialog-edit-frozen-starting-blocked-warning-future"> in the future</span>. A device block means:</p>
					<ol>
						<li>You won't be able to use this device</li>
						<li>There is no way to check the end time of the block, please make a note of it now</li>
					</ol>
					<p>Are you sure you want to start the <span class="bold">device block</span><span class="dialog-edit-frozen-starting-blocked-warning-future"> in the future</span><span class="dialog-edit-frozen-starting-blocked-warning-now"> now</span>?</p>
				</div>
				<hr>
			</div>
