#dialog-schedule-help { display: none; }
#dialog-extensions { display: none; }
#dialog-extension-help { display: none; }
#dialog-unblock-tab-help { display: none; }
#dialog-notification-help { display: none; }
#dialog-zoom-help { display: none; }

