			<div id="dialog-schedule-help">
				<hr>
				<div class="portlet-body">
					<p>To schedule blocks, close these windows and click the block type (<span class="bold">blocked at all times</span> or <span class="bold">scheduled blocks</span>) under the block name on the main <span class="bold">Blocks</span> tab.</p>
				</div>
				<hr>
			</div>

			<div id="dialog-extensions">
				<hr>
				<div class="portlet-body">
					<p>Cold Turkey Blocker <span class="bold">requires</span> extensions to be installed on <span class="bold">ALL</span> of your browsers. Disabling or removing these extensions during a locked block will force close your browser until you re-enable them.</p>
					<p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Data collected from the extensions will <span class="bold">never</span> leave this device.</p>
					<div style="max-height: 275px; overflow-y:auto; overflow-x:hidden; padding:15px;">
						<p class="browser-category">Supported Browsers</p>
						<div class="form-horizontal">
							<div class="form-group ext-nothing center">
								<p class="col-sm-6 col-sm-push-3"><span class="bold">No supported browsers found.</span> Please install one of the following browsers and reinstall Cold Turkey Blocker:</p>
								<a href="#" onclick="window.external.InstallEdge();" class="col-sm-12 bold dialog-link">Microsoft Edge</a>
								<a href="#" onclick="window.external.InstallFirefox();" class="col-sm-12 bold dialog-link">Mozilla Firefox</a>
							</div>
							<div class="form-group ext-install ext-arc" style="display: none;">
								<label class="control-label col-sm-6">Arc</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-arc').hide();$('.ext-installed.ext-arc').show();window.external.InstallBrowserExt('arc');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-arc" style="display: none;">
								<label class="control-label col-sm-6">Arc</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-arc').hide();$('.ext-installed.ext-arc').show();window.external.RefreshBrowser('arc');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-arc" style="display: none;">
								<label class="control-label col-sm-6">Arc</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-brave" style="display: none;">
								<label class="control-label col-sm-6">Brave</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-brave').hide();$('.ext-installed.ext-brave').show();window.external.InstallBrowserExt('brave');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-brave" style="display: none;">
								<label class="control-label col-sm-6">Brave</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-brave').hide();$('.ext-installed.ext-brave').show();window.external.RefreshBrowser('brave');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-brave" style="display: none;">
								<label class="control-label col-sm-6">Brave</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-bravebeta" style="display: none;">
								<label class="control-label col-sm-6">Brave Beta</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-bravebeta').hide();$('.ext-installed.ext-bravebeta').show();window.external.InstallBrowserExt('bravebeta');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-bravebeta" style="display: none;">
								<label class="control-label col-sm-6">Brave Beta</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-bravebeta').hide();$('.ext-installed.ext-bravebeta').show();window.external.RefreshBrowser('bravebeta');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-bravebeta" style="display: none;">
								<label class="control-label col-sm-6">Brave Beta</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-bravenightly" style="display: none;">
								<label class="control-label col-sm-6">Brave Nightly</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-bravenightly').hide();$('.ext-installed.ext-bravenightly').show();window.external.InstallBrowserExt('bravenightly');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-bravenightly" style="display: none;">
								<label class="control-label col-sm-6">Brave Nightly</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-bravenightly').hide();$('.ext-installed.ext-bravenightly').show();window.external.RefreshBrowser('bravenightly');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-bravenightly" style="display: none;">
								<label class="control-label col-sm-6">Brave Nightly</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-chrome" style="display: none;">
								<label class="control-label col-sm-6">Chrome</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-chrome').hide();$('.ext-installed.ext-chrome').show();window.external.InstallBrowserExt('chrome');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-chrome" style="display: none;">
								<label class="control-label col-sm-6">Chrome</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-chrome').hide();$('.ext-installed.ext-chrome').show();window.external.RefreshBrowser('chrome');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-chrome" style="display: none;">
								<label class="control-label col-sm-6">Chrome</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-chromebeta" style="display: none;">
								<label class="control-label col-sm-6">Chrome Beta</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-chromebeta').hide();$('.ext-installed.ext-chromebeta').show();window.external.InstallBrowserExt('chromebeta');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-chromebeta" style="display: none;">
								<label class="control-label col-sm-6">Chrome Beta</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-chromebeta').hide();$('.ext-installed.ext-chromebeta').show();window.external.RefreshBrowser('chromebeta');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-chromebeta" style="display: none;">
								<label class="control-label col-sm-6">Chrome Beta</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-chromedev" style="display: none;">
								<label class="control-label col-sm-6">Chrome Dev</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-chromedev').hide();$('.ext-installed.ext-chromedev').show();window.external.InstallBrowserExt('chromedev');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-chromedev" style="display: none;">
								<label class="control-label col-sm-6">Chrome Dev</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-chromedev').hide();$('.ext-installed.ext-chromedev').show();window.external.RefreshBrowser('chromedev');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-chromedev" style="display: none;">
								<label class="control-label col-sm-6">Chrome Dev</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-comet" style="display: none;">
								<label class="control-label col-sm-6">Comet</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-comet').hide();$('.ext-installed.ext-comet').show();window.external.InstallBrowserExt('comet');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-comet" style="display: none;">
								<label class="control-label col-sm-6">Comet</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-comet').hide();$('.ext-installed.ext-comet').show();window.external.RefreshBrowser('comet');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-comet" style="display: none;">
								<label class="control-label col-sm-6">Comet</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-ecosia" style="display: none;">
								<label class="control-label col-sm-6">Ecosia</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-ecosia').hide();$('.ext-installed.ext-ecosia').show();window.external.InstallBrowserExt('ecosia');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-ecosia" style="display: none;">
								<label class="control-label col-sm-6">Ecosia</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-ecosia').hide();$('.ext-installed.ext-ecosia').show();window.external.RefreshBrowser('ecosia');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-ecosia" style="display: none;">
								<label class="control-label col-sm-6">Ecosia</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-msedge" style="display: none;">
								<label class="control-label col-sm-6">Edge</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-msedge').hide();$('.ext-installed.ext-msedge').show();window.external.InstallBrowserExt('msedge');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-msedge" style="display: none;">
								<label class="control-label col-sm-6">Edge</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-msedge').hide();$('.ext-installed.ext-msedge').show();window.external.RefreshBrowser('msedge');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-msedge" style="display: none;">
								<label class="control-label col-sm-6">Edge</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-msedgebeta" style="display: none;">
								<label class="control-label col-sm-6">Edge Beta</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-msedgebeta').hide();$('.ext-installed.ext-msedgebeta').show();window.external.InstallBrowserExt('msedgebeta');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-msedgebeta" style="display: none;">
								<label class="control-label col-sm-6">Edge Beta</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-msedgebeta').hide();$('.ext-installed.ext-msedgebeta').show();window.external.RefreshBrowser('msedgebeta');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-msedgebeta" style="display: none;">
								<label class="control-label col-sm-6">Edge Beta</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-msedgedev" style="display: none;">
								<label class="control-label col-sm-6">Edge Dev</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-msedgedev').hide();$('.ext-installed.ext-msedgedev').show();window.external.InstallBrowserExt('msedgedev');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-msedgedev" style="display: none;">
								<label class="control-label col-sm-6">Edge Dev</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-msedgedev').hide();$('.ext-installed.ext-msedgedev').show();window.external.RefreshBrowser('msedgedev');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-msedgedev" style="display: none;">
								<label class="control-label col-sm-6">Edge Dev</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-firefox" style="display: none;">
								<label class="control-label col-sm-6">Firefox</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-firefox').hide();$('.ext-installed.ext-firefox').show();window.external.InstallBrowserExt('firefox');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-firefox" style="display: none;">
								<label class="control-label col-sm-6">Firefox</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-firefox').hide();$('.ext-installed.ext-firefox').show();window.external.RefreshBrowser('firefox');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-firefox" style="display: none;">
								<label class="control-label col-sm-6">Firefox</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-firefoxdev" style="display: none;">
								<label class="control-label col-sm-6">Firefox Dev</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-firefoxdev').hide();$('.ext-installed.ext-firefoxdev').show();window.external.InstallBrowserExt('firefoxdev');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-firefoxdev" style="display: none;">
								<label class="control-label col-sm-6">Firefox Dev</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-firefoxdev').hide();$('.ext-installed.ext-firefoxdev').show();window.external.RefreshBrowser('firefoxdev');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-firefoxdev" style="display: none;">
								<label class="control-label col-sm-6">Firefox Dev</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-firefoxnightly" style="display: none;">
								<label class="control-label col-sm-6">Firefox Nightly</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-firefoxnightly').hide();$('.ext-installed.ext-firefoxnightly').show();window.external.InstallBrowserExt('firefoxnightly');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-firefoxnightly" style="display: none;">
								<label class="control-label col-sm-6">Firefox Nightly</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-firefoxnightly').hide();$('.ext-installed.ext-firefoxnightly').show();window.external.RefreshBrowser('firefoxnightly');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-firefoxnightly" style="display: none;">
								<label class="control-label col-sm-6">Firefox Nightly</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-floorp" style="display: none;">
								<label class="control-label col-sm-6">Floorp</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-floorp').hide();$('.ext-installed.ext-floorp').show();window.external.InstallBrowserExt('floorp');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-floorp" style="display: none;">
								<label class="control-label col-sm-6">Floorp</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-floorp').hide();$('.ext-installed.ext-floorp').show();window.external.RefreshBrowser('floorp');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-floorp" style="display: none;">
								<label class="control-label col-sm-6">Floorp</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-librewolf" style="display: none;">
								<label class="control-label col-sm-6">LibreWolf</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-librewolf').hide();$('.ext-installed.ext-librewolf').show();window.external.InstallBrowserExt('librewolf');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-librewolf" style="display: none;">
								<label class="control-label col-sm-6">LibreWolf</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-librewolf').hide();$('.ext-installed.ext-librewolf').show();window.external.RefreshBrowser('librewolf');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-librewolf" style="display: none;">
								<label class="control-label col-sm-6">LibreWolf</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-mullvad" style="display: none;">
								<label class="control-label col-sm-6">Mullvad</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-mullvad').hide();$('.ext-installed.ext-mullvad').show();window.external.InstallBrowserExt('mullvad');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-mullvad" style="display: none;">
								<label class="control-label col-sm-6">Mullvad</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-mullvad').hide();$('.ext-installed.ext-mullvad').show();window.external.RefreshBrowser('mullvad');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-mullvad" style="display: none;">
								<label class="control-label col-sm-6">Mullvad</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-opera" style="display: none;">
								<label class="control-label col-sm-6">Opera</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-opera').hide();$('.ext-installed.ext-opera').show();window.external.InstallBrowserExt('opera');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-opera" style="display: none;">
								<label class="control-label col-sm-6">Opera</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-opera').hide();$('.ext-installed.ext-opera').show();window.external.RefreshBrowser('opera');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-opera" style="display: none;">
								<label class="control-label col-sm-6">Opera</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-operabeta" style="display: none;">
								<label class="control-label col-sm-6">Opera Beta</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-operabeta').hide();$('.ext-installed.ext-operabeta').show();window.external.InstallBrowserExt('operabeta');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-operabeta" style="display: none;">
								<label class="control-label col-sm-6">Opera Beta</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-operabeta').hide();$('.ext-installed.ext-operabeta').show();window.external.RefreshBrowser('operabeta');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-operabeta" style="display: none;">
								<label class="control-label col-sm-6">Opera Beta</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-operadev" style="display: none;">
								<label class="control-label col-sm-6">Opera Dev</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-operadev').hide();$('.ext-installed.ext-operadev').show();window.external.InstallBrowserExt('operadev');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-operadev" style="display: none;">
								<label class="control-label col-sm-6">Opera Dev</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-operadev').hide();$('.ext-installed.ext-operadev').show();window.external.RefreshBrowser('operadev');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-operadev" style="display: none;">
								<label class="control-label col-sm-6">Opera Dev</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-operagx" style="display: none;">
								<label class="control-label col-sm-6">Opera GX</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-operagx').hide();$('.ext-installed.ext-operagx').show();window.external.InstallBrowserExt('operagx');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-operagx" style="display: none;">
								<label class="control-label col-sm-6">Opera GX</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-operagx').hide();$('.ext-installed.ext-operagx').show();window.external.RefreshBrowser('operagx');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-operagx" style="display: none;">
								<label class="control-label col-sm-6">Opera GX</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-sidekick" style="display: none;">
								<label class="control-label col-sm-6">Sidekick</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-sidekick').hide();$('.ext-installed.ext-sidekick').show();window.external.InstallBrowserExt('sidekick');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-sidekick" style="display: none;">
								<label class="control-label col-sm-6">Sidekick</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-sidekick').hide();$('.ext-installed.ext-sidekick').show();window.external.RefreshBrowser('sidekick');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-sidekick" style="display: none;">
								<label class="control-label col-sm-6">Sidekick</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-vivaldi" style="display: none;">
								<label class="control-label col-sm-6">Vivaldi</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-vivaldi').hide();$('.ext-installed.ext-vivaldi').show();window.external.InstallBrowserExt('vivaldi');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-vivaldi" style="display: none;">
								<label class="control-label col-sm-6">Vivaldi</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-vivaldi').hide();$('.ext-installed.ext-vivaldi').show();window.external.RefreshBrowser('vivaldi');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-vivaldi" style="display: none;">
								<label class="control-label col-sm-6">Vivaldi</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-install ext-zen" style="display: none;">
								<label class="control-label col-sm-6">Zen</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-install.ext-zen').hide();$('.ext-installed.ext-zen').show();window.external.InstallBrowserExt('zen');">Install</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-restart ext-zen" style="display: none;">
								<label class="control-label col-sm-6">Zen</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-install-ext" onclick="$('.ext-restart.ext-zen').hide();$('.ext-installed.ext-zen').show();window.external.RefreshBrowser('zen');">Fix error</a>
									</div>
								</div>
							</div>
							<div class="form-group ext-installed ext-zen" style="display: none;">
								<label class="control-label col-sm-6">Zen</label>
								<div class="col-sm-6">
									<div>
										<a href="#" class="btn btn-installed-ext" disabled>Installed</a>
									</div>
								</div>
							</div>
						</div>
						<p class="browser-category">Unsupported Browsers</p>
						<div class="form-horizontal">
							<div class="form-group ext-nothingunsupported center">
								<p class="col-sm-12"><span class="bold">No unsupported browsers found.</span></p>
							</div>
							<div class="form-group ext-unsupported ext-360browser" style="display: none;">
								<label class="control-label col-sm-6">360 Browser</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. 360 Browser may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-aol" style="display: none;">
								<label class="control-label col-sm-6">AOL Shield Pro</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. AOL Shield Pro may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-avant" style="display: none;">
								<label class="control-label col-sm-6">Avant</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Avant may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-avast" style="display: none;">
								<label class="control-label col-sm-6">Avast Secure Browser</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Avast Secure Browser may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-avg" style="display: none;">
								<label class="control-label col-sm-6">AVG Browser</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. AVG Browser may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-blisk" style="display: none;">
								<label class="control-label col-sm-6">Blisk</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Blisk may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-chromecanary" style="display: none;">
								<label class="control-label col-sm-6">Chrome Canary</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Chrome Canary may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-chromium" style="display: none;">
								<label class="control-label col-sm-6">Chromium</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Chromium may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-coccoc" style="display: none;">
								<label class="control-label col-sm-6">CocCoc</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. CocCoc may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-ddg" style="display: none;">
								<label class="control-label col-sm-6">DuckDuckGo</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. DuckDuckGo may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-edge" style="display: none;">
								<label class="control-label col-sm-6">Microsoft Edge (legacy)</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Microsoft Edge (legacy) may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-edgecanary" style="display: none;">
								<label class="control-label col-sm-6">Edge Canary</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Edge Canary may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-epic" style="display: none;">
								<label class="control-label col-sm-6">Epic</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Epic may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-falkon" style="display: none;">
								<label class="control-label col-sm-6">Falkon</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Falkon may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-hola" style="display: none;">
								<label class="control-label col-sm-6">Hola</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Hola may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-iron" style="display: none;">
								<label class="control-label col-sm-6">Iron Browser</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Iron Browser may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-ie" style="display: none;">
								<label class="control-label col-sm-6">Internet Explorer</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. IE may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-kahf" style="display: none;">
								<label class="control-label col-sm-6">Kahf</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Kahf may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-luna" style="display: none;">
								<label class="control-label col-sm-6">Lunascape</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Lunascape may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-maxthon" style="display: none;">
								<label class="control-label col-sm-6">Maxthon</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Maxthon may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-min" style="display: none;">
								<label class="control-label col-sm-6">Min</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Min may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-whale" style="display: none;">
								<label class="control-label col-sm-6">Naver Whale</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Naver Whale may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-operaair" style="display: none;">
								<label class="control-label col-sm-6">Opera Air</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Opera Air may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-operaneon" style="display: none;">
								<label class="control-label col-sm-6">Opera Neon</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Opera Neon may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-palemoon" style="display: none;">
								<label class="control-label col-sm-6">Pale Moon</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Pale Moon may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-qq" style="display: none;">
								<label class="control-label col-sm-6">QQBrowser</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. QQBrowser may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-seamonkey" style="display: none;">
								<label class="control-label col-sm-6">SeaMonkey</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. SeaMonkey may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-shift" style="display: none;">
								<label class="control-label col-sm-6">Shift</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Shift may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-slim" style="display: none;">
								<label class="control-label col-sm-6">Slim Browser</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Slim Browser may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-slimjet" style="display: none;">
								<label class="control-label col-sm-6">Slimjet</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Slimjet may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-spark" style="display: none;">
								<label class="control-label col-sm-6">Spark Browser</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Baidu Spark Browser may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-torch" style="display: none;">
								<label class="control-label col-sm-6">Torch</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Torch may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-ucbrowser" style="display: none;">
								<label class="control-label col-sm-6">UC Browser</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. UC Browser may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-ulaa" style="display: none;">
								<label class="control-label col-sm-6">Ulaa</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Ulaa may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-viasat" style="display: none;">
								<label class="control-label col-sm-6">Viasat Browser</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Viasat Browser may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-waterfox" style="display: none;">
								<label class="control-label col-sm-6">Waterfox</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Waterfox may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
							<div class="form-group ext-unsupported ext-yandex" style="display: none;">
								<label class="control-label col-sm-6">Yandex.Browser</label>
								<div class="col-sm-6">
									<div>
										<span class="red">Not supported. Yandex.Browser may be blocked during a locked block.</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="again">
						<input type="checkbox" id="dialog-extensions-again"><label for="dialog-extensions-again">&nbsp;Don't show this dialog when opening the app.</label>
					</div>
				</div>
				<hr>
			</div>

			<div id="dialog-extension-help">
				<hr>
				<div class="portlet-body">
					<p>In some rare cases, you may need to manually browse to these URLs to install the extensions.</p>
					<div style="max-height: 300px; overflow-y:auto; overflow-x:hidden; padding:10px;">
						<p>Arc<br><input class="no-typing allow-right-click" style="width: 100%" type="text" autocomplete="off" value="https://getcoldturkey.com/support/extensions/arc/"></p>
						<p>Brave<br><input class="no-typing allow-right-click" style="width: 100%" type="text" autocomplete="off" value="https://getcoldturkey.com/support/extensions/brave/"></p>
						<p>Chrome<br><input class="no-typing allow-right-click" style="width: 100%" type="text" autocomplete="off" value="https://getcoldturkey.com/support/extensions/chrome/"></p>
						<p>Comet<br><input class="no-typing allow-right-click" style="width: 100%" type="text" autocomplete="off" value="https://getcoldturkey.com/support/extensions/comet/"></p>
						<p>Ecosia<br><input class="no-typing allow-right-click" style="width: 100%" type="text" autocomplete="off" value="https://getcoldturkey.com/support/extensions/ecosia/"></p>
						<p>Edge<br><input class="no-typing allow-right-click" style="width: 100%" type="text" autocomplete="off" value="https://getcoldturkey.com/support/extensions/edge/"></p>
						<p>Firefox<br><input class="no-typing allow-right-click" style="width: 100%" type="text" autocomplete="off" value="https://getcoldturkey.com/support/extensions/firefox/"></p>
						<p>Floorp<br><input class="no-typing allow-right-click" style="width: 100%" type="text" autocomplete="off" value="https://getcoldturkey.com/support/extensions/floorp/"></p>
						<p>LibreWolf<br><input class="no-typing allow-right-click" style="width: 100%" type="text" autocomplete="off" value="https://getcoldturkey.com/support/extensions/librewolf/"></p>
						<p>Mullvad<br><input class="no-typing allow-right-click" style="width: 100%" type="text" autocomplete="off" value="https://getcoldturkey.com/support/extensions/mullvad/"></p>
						<p>Opera<br><input class="no-typing allow-right-click" style="width: 100%" type="text" autocomplete="off" value="https://getcoldturkey.com/support/extensions/opera/"></p>
						<p>Sidekick<br><input class="no-typing allow-right-click" style="width: 100%" type="text" autocomplete="off" value="https://getcoldturkey.com/support/extensions/sidekick/"></p>
						<p>Vivaldi<br><input class="no-typing allow-right-click" style="width: 100%" type="text" autocomplete="off" value="https://getcoldturkey.com/support/extensions/vivaldi/"></p>
						<p>Zen<br><input class="no-typing allow-right-click" style="width: 100%" type="text" autocomplete="off" value="https://getcoldturkey.com/support/extensions/zen/"></p>
					</div>
					<p style="padding:10px;">You might need to restart your browser after installing the extension.</p>
				</div>
				<hr>
			</div>

			<div id="dialog-unblock-tab-help">
				<hr>
				<div class="portlet-body">
					<p>The <span class="bold">Unblock</span> button is visible on the block page when:</p>
					<ol>
						<li>A block is <span class="bold">unlocked</span></li>
						<li>A block is locked with a <span class="bold">password</span> or <span class="bold">random text</span></li>
						<li>A block has a <span class="bold">random text</span> or <span class="bold">delay</span> break</li>
						<li>A block has an <span class="bold">allowance</span>, <span class="bold">reward</span> or <span class="bold">session</span> break and you enabled the feature that requires this button to be pressed before a break starts</li>
					</ol>
					<p>To remove the <span class="bold">Unblock</span> button:</p>
					<ol>
						<li>Remove any <span class="bold">random text</span> or <span class="bold">delay</span> breaks set on active block, and</li>
						<li>Lock blocks with the <span class="bold">Timer</span>, <span class="bold">Time Range</span> or <span class="bold">Schedule</span> (if scheduled) tabs, or</li>
						<li>Lock blocks with a <span class="bold">Settings Password</span> and restrict access to the <span class="bold">Blocks</span> tab and restrict the <span class="bold">changing a block</span> feature</li>
					</ol>
				</div>
				<hr>
			</div>

			<div id="dialog-notification-help">
				<hr>
				<div class="portlet-body">
					<p>In recent versions of Windows, you may need to manually allow notifications for Cold Turkey Blocker. To do this, please:</p>
					<ol>
						<li>Open the Windows Settings app and click <span class="bold">System</span> then <span class="bold">Notifications &amp; actions</span></li>
						<li>Under <span class="bold">Notifications</span> ensure <span class="bold">Get notifications from apps and other senders</span> is enabled</li>
						<li>Scroll down and select <span class="bold">Cold Turkey Blocker</span> in the list of apps</li>
						<li>Ensure <span class="bold">Notifications</span>, <span class="bold">Show notification banners</span>, <span class="bold">Show notifications in action center</span> and <span class="bold">Play a sound...</span> are enabled</li>
					</ol>
					<p>You may also need to disable <span class="bold">Focus Assist</span>, or it to <span class="bold">Priority Only</span> and add <span class="bold">Cold Turkey Blocker</span> to the priority list. To do this:</p>
					<ol>
						<li>Open the Windows Settings app and click <span class="bold">System</span> then <span class="bold">Focus assist</span></li>
					</ol>
				</div>
				<hr>
			</div>

			<div id="dialog-zoom-help">
				<hr>
				<div class="portlet-body">
					<p>To make the text <span class="bold">bigger</span>:</p>
					<ol>
						<li>Hold the <span class="bold">Ctrl</span> and <span class="bold">+</span> keys at the same time. Or, hold <span class="bold">Ctrl</span> and scroll <span class="bold">up</span></li>
					</ol>
					<p>To make the text <span class="bold">smaller</span>:</p>
					<ol>
						<li>Hold the <span class="bold">Ctrl</span> and <span class="bold">-</span> keys at the same time. Or, hold <span class="bold">Ctrl</span> and scroll <span class="bold">down</span></li>
					</ol>
					<p>To <span class="bold">reset</span> the text size:</p>
					<ol>
						<li>Hold the <span class="bold">Ctrl</span> and <span class="bold">*</span> keys or <span class="bold">Ctrl</span> and <span class="bold">0</span> keys at the same time. Or, hold <span class="bold">Ctrl</span> and <span class="bold">middle click</span></li>
					</ol>
				</div>
				<hr>
			</div>
