.custom-select.app {
	height: 180px;
}

.browser-category {
	font-size: 14px;
	font-weight: bold;
}

.edit-device-list-static-height {
	height: 90px;
}

.edit-list-static-height {
	height: 300px;
}

