
#chart-legend-button-show button {
	margin-left: 0px;
	margin-bottom: 15px;
	width: auto;
}

#chart-legend-button-hide button {
	margin-left: 0px;
	margin-bottom: 15px;
	width: auto;
}

#chart-legend-button-app-show button {
	margin-left: 0px;
	margin-bottom: 15px;
	width: auto;
}

#chart-legend-button-app-hide button {
	margin-left: 0px;
	margin-bottom: 15px;
	width: auto;
}
