.nav-tabs {
	margin-bottom: 10px;
}
.nav-tabs > li > a {
	font-size: 14px;
}
.tabbable-line > .nav-tabs {
	border: none;
	margin: 0px;
}
.tabbable-line > .nav-tabs > li {
	margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
	border: 0;
	margin-right: 0;
}
.tabbable-line > .nav-tabs > li:hover > a {
	border: 0;
}
.tabbable-line > .nav-tabs > li.active {
	position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
	border: 0;
}
