			<div id="dialog-delay">
				<hr>
				<div class="portlet-body dialog-delay-static-height center">
					<p>This block will unlock <span class="dialog-delay-start">after a</span><span class="dialog-delay-started">in</span> <span id="dialog-delay-time" class="bold">5 minute</span><span class="dialog-delay-start"> delay</span>.</p>
					<p class="dialog-delay-start"><button id="dialog-delay-start-button" class="btn-green" type="button" onclick="return false;">Start unlocking</button></p>
					<p class="dialog-delay-started"><button id="dialog-delay-stop-button" class="btn-red" type="button" onclick="return false;">Cancel unlock</button></p>
					<p class="dialog-delay-start"><span>You can cancel the countdown at any time.</span></p>
				</div>
				<hr>
			</div>

			<div id="dialog-password">
				<hr>
				<div class="form-group">
					<input class="allow-right-click" id="dialog-password-text" type="password" placeholder="Enter password, then click unlock...">
				</div>
				<hr>
			</div>

			<div id="dialog-randomText">
				<hr>
				<div class="form-group">
					<p id="dialog-randomText-label"></p>
					<textarea id="dialog-randomText-text" ondrop="return false;" placeholder="Type the random text exactly as seen above to unlock..."></textarea> 
				</div>
				<hr>
			</div>

			<div id="dialog-settings-password-set">
				<hr>
				<div class="portlet-body">
					<p>Your password is set! You will be asked to enter your password the next time you open Cold Turkey Blocker.</p>
				</div>
				<hr>
			</div>

			<div id="dialog-settings-password-cleared">
				<hr>
				<div class="portlet-body">
					<p>Your password is cleared! You no longer need a password to open Cold Turkey Blocker.</p>
				</div>
				<hr>
			</div>

			<div id="dialog-settings-password-error-match">
				<hr>
				<div class="portlet-body">
					<p>Your passwords did not match. Please re-type your password carefully in both boxes and try again.</p>
				</div>
				<hr>
			</div>

			<div id="dialog-settings-password-error-invalid">
				<hr>
				<div class="portlet-body">
					<p>Your password contains an invalid character. Please remove this character: \</p>
				</div>
				<hr>
			</div>

			<div id="dialog-settings-password-error-blank">
				<hr>
				<div class="portlet-body">
					<p>Your password can't be blank. Please choose a password before saving.</p>
				</div>
				<hr>
			</div>

			<div id="dialog-edit-randomText-error-invalid-char">
				<hr>
				<div class="portlet-body">
					<p>Your custom text contains an invalid character. Please remove this character: \</p>
				</div>
				<hr>
			</div>

			<div id="dialog-edit-randomText-error-invalid-empty">
				<hr>
				<div class="portlet-body">
					<p>Your custom text needs to be between 1 and 10000 characters long.</p>
				</div>
				<hr>
			</div>
