.custom-select.networks {
	height: 70px;
	width: 386px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.dialog-add-networks-static-height {
	height: 180px;
	overflow-y: auto;
}

.dialog-add-networks-static-width {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#dialog-add-networks {
	display: none;
}


.networks-disable {
	opacity: 0.5;
	pointer-events: none;
}

.networks-disable {
	opacity: 0.5;
	pointer-events: none;
}
