.custom-select.users {
	height: 120px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.dialog-add-users-static-height {
	height: 180px;
	overflow-y: auto;
}

#dialog-edit-users input {
	margin-left: 0px;
}

.dialog-add-users-static-width {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#dialog-edit-users-custom-empty {
	display: none;
}

#dialog-edit-users {
	display: none;
}

#dialog-add-users {
	display: none;
}


.users-disable {
	opacity: 0.5;
	pointer-events: none;
}

.users-disable {
	opacity: 0.5;
	pointer-events: none;
}
