/* ============================================================
   STATS PAGE
   Extracted from custom.css
   ============================================================ */

.chart {
	height: 18vh;
	margin-top: 15px;
	margin-bottom: 15px;
}
.chart-lg {
	height: 40vh;
	margin-top: 15px;
	margin-bottom: 15px;
}
.chart-legend {
	margin-bottom: 20px;
}
#chart-legend-button-show button {
	margin-left: 0px;
	margin-bottom: 15px;
	width: auto;
}
#chart-legend-button-hide button {
	margin-left: 0px;
	margin-bottom: 15px;
	width: auto;
}
#chart-legend-button-app-show button {
	margin-left: 0px;
	margin-bottom: 15px;
	width: auto;
}
#chart-legend-button-app-hide button {
	margin-left: 0px;
	margin-bottom: 15px;
	width: auto;
}
.stats-content input {
	height: 30px;
	border-radius: 5px;
	padding: 4px;
	padding-left: 10px;
}
.stats-content input:not(#stats-app-search-text, #stats-web-search-text) {
	border-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.stats-content .to {
	padding-top: 4px;
}
.stats-content select {
	height: 30px;
	padding: 4px;
	padding-left: 10px;
	border-radius: 5px;
}
.stats-content .user select {
	width: 100px;
}
.stats-content button {
	width: 100px;
}
.chart {
	height: 18vh;
	margin-top: 15px;
	margin-bottom: 15px;
}

.chart-lg {
	height: 40vh;
	margin-top: 15px;
	margin-bottom: 15px;
}

.stats-content input {
	height: 30px;
	border-radius: 5px;
	padding: 4px;
	padding-left: 10px;
}

.stats-content input:not(#stats-app-search-text, #stats-web-search-text) {
	border-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.stats-content .to {
	padding-top: 4px;
}

.stats-content select {
	height: 30px;
	padding: 4px;
	padding-left: 10px;
	border-radius: 5px;
}

.stats-content .user select {
	width: 100px;
}

.stats-content button {
	width: 100px;
}

.chart-legend {
	margin-bottom: 20px;
}


#page-stats-content {
	display: none;
}
