			<div id="dialog-settings-enable-statistics">
				<hr>
				<div class="portlet-body">
					<p>The statistics feature needs to be enabled in order to use allowances, rewards and sessions as breaks.</p>
					<p>Would you like to <span class="bold">enable statistics</span>?</p>
				</div>
				<hr>
			</div>

			<div id="dialog-settings-enable-statistics-lock">
				<hr>
				<div class="portlet-body">
					<p>Both statistics features (normal and incognito modes) need to be enabled to use allowances, rewards and session breaks during a locked block.</p>
					<p>Would you like to <span class="bold">enable both statistics</span> features?</p>
				</div>
				<hr>
			</div>

			<div id="dialog-settings-delete-statistics">
				<hr>
				<div class="portlet-body">
					<p>Are you sure you want to delete all statistics data?</p><p>All statistics are stored on this device. Deleting them will <span class="bold">permanently</span> cause you to lose all website and app statistics collected by Cold Turkey Blocker.</p>
				</div>
				<hr>
			</div>
