			<div id="dialog-unlocked">
				<hr>
				<div class="portlet-body">
					<p>Although there are blocks enabled, there are no <span class="bold">locks</span> set on any block. A locked block will:</p>
					<ol>
						<li>Prevent you from disabling the block</li>
						<li>Block your browser if you remove the browser extensions</li>
						<li>Stop you from uninstalling the app</li>
						<li>Lock certain settings under <span class="bold">Settings > Block Strictness</span></li>
					</ol>
					<p>To lock a block:</p>
					<ol>
						<li>Click the <span class="bold">Blocks</span> tab on the left</li>
						<li>Find the block you want to lock and click the lock text (below the toggle that enables the block)</li>
						<li>Choose how you want to lock the block in the popup that appears</li>
					</ol>
					<div class="again">
						<input type="checkbox" id="dialog-unlocked-again"><label for="dialog-unlocked-again">&nbsp;Don't show the <span class="bold">no locks set</span> hint again.</label>
					</div>
				</div>
				<hr>
			</div>

			<div id="dialog-empty-schedule">
				<hr>
				<div class="portlet-body">
					<p>The following scheduled blocks are enabled but have no blocks added to the schedule:</p>
					<ol id="dialog-empty-schedule-blocks">
					</ol>
					<p>To schedule a block:</p>
					<ol>
						<li>Click the <span class="bold">Blocks</span> tab on the left</li>
						<li>Find one of the blocks listed above and click the <span class="bold">Scheduled blocks</span> link</li>
						<li>If the block is locked, you can still add block by clicking the <span class="bold">continue with restrictions</span> button</li>
						<li>On the scheduler, click and drag in the empty space to add a block</li>
					</ol>
					<div class="again">
						<input type="checkbox" id="dialog-empty-schedule-blocks-again"><label for="dialog-empty-schedule-blocks-again">&nbsp;Don't show the <span class="bold">empty schedule</span> hint again.</label>
					</div>
				</div>
				<hr>
			</div>
